
{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block content %}
	<h5 class="center">{{ search | title }}</h5>

	<div class="row">
		{% for post in posts %}
		<div class="col s4">
			<div class="card medium">
				<div class="card-image">
					<img src="{{ post.3 }}" class="responsive-img">
				</div>
				<div class="card-content">
					<h7>{{ post.0 }}</h7>
					<p class="green-text text-darken-1">{{ post.2 }}</p>
				</div>
				<div class="card-action">
					<a href="{{ post.1 }}" target="_blank">view</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}